


@media screen 
  and (max-device-width: 412px) 
   {

    body{
        margin: auto;
        width: 412px;
        height: 718px;
        background-color: rgb(255, 255, 255); 
        display: grid;
        grid-template-columns: repeat(1fr 2);
        grid-template-rows: repeat(12, 1fr);
     }

    header{
        grid-row: span 1;
        grid-column: span 2;
        background-color:rgb(31, 40, 63);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }
    
    .hamburgermenu{
        padding-top: 10px;
        grid-column: 1/2;
        margin: auto;
    }

    .logotype{
        grid-column: 2/5;
        grid-row: 1/2;
        text-align: center;
        padding-top: 11px;
        font-size: 30px;
    }

    .logotype{
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        color: rgb(224, 224, 224);
    }

    .hamburgermenu i {
        font-size: 40px;
        color: white;
    }

    .personbutton{
        padding-top: 10px;
        grid-column: 5/6;
        margin: auto;
        color: white;
    }

    .personbutton i{
        font-size: 40px;
    }

    main{
        grid-column: span 2;
        grid-row: span 6;
        background-color: grey;
    }

    footer{
        grid-column: span 2;
        grid-row: span 1;
        background-color: rgb(163, 163, 163);
    }

    article{
        grid-column: span 2;
        grid-row: span 5;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, 1fr);
        background-color: grey;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-top: 3px;
        margin-bottom: 3px;    
    }

    .buy_now_button{
        grid-row: 8 / 10;
        grid-column: 2/5;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px; 
        z-index: 5
        
    }
    
    .buy_now_button a:hover {

        background-color: black;
    }

    .background_image{
        background-image: url('../img/slider4.jpg');  
        background-repeat: no-repeat;
        filter: blur(3px);  
        grid-column: 1 / 9;
        grid-row: 1 / 11;
        
        
    }


    

}