body{
    margin: auto;
    width: 412px;
    height: auto;
    background-color: rgb(255, 255, 255); 
    display: grid;
    grid-template-columns: repeat(1fr 2);
    grid-template-rows: repeat(12, 1fr) repeat(5, 54.3833px);
    }

header{
    grid-row: span 1;
    grid-column: span 2;
    background-color:rgb(31, 40, 63);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

.hamburgermenu{
    padding-top: 0.25em;
    grid-column: 1/2;
    margin: auto;
}

.logotype{
    grid-column: 2/5;
    grid-row: 1/2;
    text-align: center;
    padding-top: 0.25em;
    font-size: 2em;
}

.logotype{
    font-family: 'Open Sans', bold, sans-serif;
    color: rgb(224, 224, 224);
}

.hamburgermenu i {
    font-size: 3em;
    color: white;
}

.personbutton{
    padding-top: 0.25em;
    grid-column: 5/6;
    margin: auto;
    
}

.personbutton i{
    font-size: 3em;
    color: white;
}


article{
    grid-column: span 2;
    grid-row: span 5;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: grey;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 3px;
    margin-bottom: 3px;    
}

.buy_now_button{
    grid-row: 8 / 10;
    grid-column: 2/5;
    background-color: rgb(31, 40, 63);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px; 
    z-index: 4;
   
}

.buy_now_button h3{
    font-family:'Open Sans', bold, sans-serif;
    font-size: 1.5em;       
    text-align: center;
    color: rgb(224, 224, 224);
    margin: 0;
    padding-top: 0.42em;
}


.background_image{
    background-image: url('../img/slider4.jpg');  
    background-repeat: no-repeat;
    filter: blur(3px);  
    grid-column: 1 / 9;
    grid-row: 1 / 11;        
}

main{
    grid-column: span 2;
    grid-row: span 7;
    background-color: rgb(204, 204, 204);
    padding-top: 1px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);

    
}

h1.about_us{
    margin: 0px;
    font-size: 1.5em;
    text-align: center;

}

footer{
    grid-column: span 2;
    grid-row: span 2;
    background-color: white;

}

.menu1{
    width: 45vw;
    height: 100vh;
    position: absolute;
    background: white;
    display: none;
    z-index: 6;
}

.show{
    display: block;

}