<article>
    <div class="buy_now_button">
       <a href="index2.html"><h3>Boka Nu >></h3></a> 
    </div>
    <div class="background_image"></div>          
</article>

<main>
     <h1 class="about_us"></h1>  

</main>

<footer></footer>
